body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    color: #333;
  }
  
  header {
    background-color: #003366;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .clock-container {
    text-align: right;
  }
  
  .search-bar {
    text-align: center;
    margin: 20px 0;
  }
  
  .search-bar input {
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .patient-info {
    text-align: center;
    background: white;
    width: 60%;
    margin: 0 auto 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .tabla-container {
    width: 80%;
    margin: 0 auto 20px;
    text-align: left;
  }
  
  .tabla-container h2 {
    color: #003366;
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #e6f0ff;
  }
  
  .button-container {
    text-align: center;
    margin: 30px 0;
  }
  
  button {
    background-color: #cc0000;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #990000;
  }
  